<h2>Editar Grupo</h2>

<%= form_with model: [:dashboard, @grupo], local: true, html: { class: "dashboard-form" } do |form| %>
  <div>
    <%= form.label :nombre %>
    <%= form.text_field :nombre, value: @grupo.nombre %>
  </div>

  <%= form.submit "Actualizar Grupo" %>
  
  <%= link_to 'Volver', dashboard_grupos_path %>
<% end %>

