<h2>Editar Producto</h2>

<%= form_with model: [:dashboard, @product], local: true, html: { class: "dashboard-form" } do |form| %>
  <div>
    <%= form.label :nombre %>
    <%= form.text_field :nombre, value: @product.nombre %>
  </div>

  <div>
    <%= form.label :precio %>
    <%= form.number_field :precio, step: 0.01, value: @product.precio %>
  </div>

  <div>
    <%= form.label :descripcion %>
    <%= form.text_area :descripcion, value: @product.descripcion %>
  </div>

  <div>
    <%= form.label :imagen %>
    <%= form.text_field :imagen, value: @product.imagen %>
  </div>

  <div>
    <%= form.label :grupo_id, "Grupo" %>
    <%= form.collection_select :grupo_id, Grupo.all, :id, :nombre, selected: @product.grupo_id %>
  </div>

  <div class="checkbox-container">
    <%= form.label :disponible %>
    <%= form.check_box :disponible, checked: @product.disponible %>
  </div>

  <%= form.submit "Actualizar Producto" %>
  <%= link_to 'Volver', dashboard_products_path %>
<% end %>

