<div id="<%= dom_id contacto %>">
  <p>
    <strong>Nombre:</strong>
    <%= contacto.nombre %>
  </p>

  <p>
    <strong>Correo:</strong>
    <%= contacto.correo %>
  </p>

  <p>
    <strong>Telefono:</strong>
    <%= contacto.telefono %>
  </p>

  <p>
    <strong>Direccion:</strong>
    <%= contacto.direccion %>
  </p>

</div>
