<!DOCTYPE html>
<html>
<head>
  <title>Panel De Administrador</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>


  <link rel="icon" href="<%= asset_path('LogoTerrazaDelPri.svg') %>" type="image/svg+xml">
  <link rel="apple-touch-icon" href="<%= asset_path('LogoTerrazaDelPri.svg') %>" type="image/svg+xml">


</head>
<body>
  <div class="dashboard-container" style="display: flex;">
    

    <aside class="sidebar">
      <h2>Panel</h2>
      <%= link_to "Dashboard", dashboard_root_path %>

      <details>
        <summary>Productos</summary>

          <%= link_to "Ver productos", dashboard_products_path %>

          <%= link_to "Crear producto", new_dashboard_product_path %>


      </details>

      <details>
        <summary>Grupos</summary>
        
          <%= link_to "Ver grupos", dashboard_grupos_path %>

          <%= link_to "Crear grupo", new_dashboard_grupo_path %>

      </details>

      <%= link_to "Volver al inicio", root_path %>
    </aside>


    <main class="main-content">
      <%= yield %>
    </main>

  </div>
</body>
</html>
