<html>
    <%= stylesheet_link_tag "home", media: "all" %>
    <header>
        <h1>La Terraza del pri</h1>
        <%= image_tag   "Laterrazadelpri.png", class: "img-logo"%>
    <header>
    <nav>
        <form action="buscar" method="get">
            <input type="search" name="barra_busquedad">
        </form>
    </nav>
    <section>
        <article class="salchipapa">
            Salchipapa
           <button class="flecha-derecha">&#8592;</button>
            <%= image_tag "salchipapa.png", class: "img-salchipapa"%>
            <%= image_tag "salchipapa2.png", class: "img-salchipapa2"%>
        </article>

        <article class="hamburguesa">
            <p>Hamburguesas</p>
            <form action="button" method="get">
                <input type="button">
            </form>
            <%= image_tag "Hamburgesas.png", class: "img-hamburguesas" %>
            <%= image_tag "hamburguesas2.png", class: "img-hamburguesa2" %>
        </article>

        <article class = "pizzas" >
            <p>Pizzas</p>
            <form action="button" method="get">
               <input type="button">
            </form>
            <%= image_tag "pizzas.png", class: "img-pizza" %>
            <%= image_tag "pizzas2.png", class: "img-pizza2" %>
        </article>
    </section>
</html>