<header class="header">
    <h1>La Terraza del Pri</h1>
    <%= image_tag "LogoTerrazaDelPri.svg" %>
</header>

<nav class="navbar">

    <div class="busqueda" >

        <input type="search" name="barra_busquedad">
        <button type="submit">
            <%= image_tag "icons/magnifying-glass-solid.svg" %>
        </button>
    </div>
    <%= link_to carrito_path, class: "carrito" do %>
        <%= image_tag "icons/cart-shopping-solid.svg" %>
    <% end %>
    <%= button_to "Cerrar sesión", destroy_user_session_path, method: :delete, form: { "data-turbo-confirm": "¿Estás seguro que quieres cerrar sesión?" } %>
    <%= image_tag "icons/user-solid.svg", class: "user" %>
</nav>

<section>
        <div class="grupo">
            <h1>Hamburguesas</h1>
            <div class="cartas">
                <button class="botonL">←</button>
                    <div class="carta">
                        <%= image_tag "Hamburgesas.png" %>
                        <h2>Hamburguesa 1</h2>
                    </div>
                    <div class="carta">
                        <%= image_tag "hamburguesas2.png" %>
                        <h2>Hamburguesa 2</h2>
                    </div>
                    <div class="carta">
                    <%= image_tag "Hamburgesas.png" %>
                        <h2>Hamburguesa 3</h2>
                    </div>
                <button class="botonR">→</button>
            </div>
        </div>
        <div class="grupo">
            <h1>Pizza</h1>
            <div class="cartas">
                <button class="botonL">←</button>
                    <div class="carta">
                        <%= image_tag "pizzas.png" %>
                        <h2>Pizza 1</h2>
                    </div>
                    <div class="carta">
                        <%= image_tag "pizzas2.png" %>
                        <h2>Pizza 2</h2>
                    </div>
                    <div class="carta">
                    <%= image_tag "pizzas.png" %>
                        <h2>Pizza 3</h2>
                    </div>
                <button class="botonR">→</button>
            </div>
        </div>
</section>

<footer class="footer">
    <div class="social">
    <a href="https://www.instagram.com/laterrazadelpri?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank">
        <%= image_tag "icons/instagram-brands.svg" %>
    </a>
    <a href="https://wa.me/573113678033" target="_blank">
        <%= image_tag "icons/whatsapp-brands.svg" %>
    </a>
    <a href="https://www.tiktok.com/@laterrazadelpri?is_from_webapp=1&sender_device=pc" target="_blank">
        <%= image_tag "icons/tiktok-brands.svg" %>
    </a>
    </div>
    <p>© 2023 La Terraza del Pri. Todos los derechos reservados.</p>
</footer>


