<html>
    <%= stylesheet_link_tag "home", media: "all" %>
    <header>
        <h1>La Terraza del pri</h1>
        <%= image_tag ("Laterrazadelpri.png"), class: "logo"%>
    <header>
    <nav>
        <form action="buscar" method="get">
            <input type="search" name="barra_busquedad">
        </form>
    </nav>
    <section>
        <article class="salchipapa">
            Salchipapa
            <form action="button" method="get">
                <input type="button">
            </form>
            <%= image_tag ("salchipapa.png", class: "salchipapa")%>
            <%= image_tag ("salchipapa2.png", class: "salchipapa2")%>
        </article>

        <article class="hamburguesa">
            <p>Hamburguesas</p>
            <form action="button" method="get">
                <input type="button">
            </form>
            <%= image_tag("Hamburgesas.png"), class: "hamburguesa" %>
            <%= image_tag("hamburguesas2.png"), class: "hamburguesa2" %>
        </article>

        <article>
            <p>Pizzas</p>
            <form action="button" method="get">
               <input type="button">
            </form>
            <%= image_tag("pizzas.png") %>
            <%= image_tag("pizzas2.png") %>
        </article>
    </section>
</html>