<html>
    <main>
        <%= stylesheet_link_tag "home", media: "all" %>
        <header class ="inicio">
            <%= image_tag "Laterrazadelpri.png", class: "img-logo"%>
            <h1 class ="nombre" >La Terraza del pri</h1>
        </header>
        <nav>
            <form action="buscar" method="get">
                <input type="search" name="barra_busquedad">
            </form>
        </nav>
        <p class="menu">Menu</p>
        <section>
            <section class="grupo">
                <header class="nombre-salchipapa">Salchipapas</header>
                <article class="salchipapa">
                    <div class = "item">
                        <%= image_tag "salchipapa.png", class: "img-salchipapa"%>
                        <div class="informacion" >
                            <h3>Salchipapa Trifasica</h3>
                            <ul>
                                <li>Papas fritas</li>
                                <li>Salchichas</li>
                                <li>Queso</li>
                                <li>Salsas</li>
                            </ul>
                            <p>Precio:</p>
                            <button>Pedir</button>
                        </div>
                    </div>
                    <!--Esta es la segunda salchipapa-->
                <div class="item">
                    <%= image_tag "salchipapa2.png", class: "img-salchipapa2"%>
                    <div class = "informacion">
                        <h3>Salchipapa Trifasica</h3>
                        <ul>
                            <li>Papas fritas</li>
                            <li>Salchichas</li>
                            <li>Queso</li>
                            <li>Salsas</li>
                        </ul>
                        <p>Precio:</p>
                        <button>Pedir</button>
                    </div>
                </div>
                </article>

            </section>
            <!--Estas son las hambueguesas-->
            <section class ="grupo-hamburguesas"> 
                <header class="nombre-hamburguesas">Hamburguesas</header>
                <article class="hamburguesa">
                    <div class ="item">
                        <%= image_tag "Hamburgesas.png", class: "img-hamburguesas" %>
                        <div class= "informacion" >
                            <h3>Hamburguesa carne</h3>
                            <ul>
                                <li>Pan</li>
                                <li>Carne</li>
                                <li>Queso</li>
                                <li>Salsas</li>
                                <li>lechuga</li>
                            </ul>
                            <p>Precio:</p>
                            <button>Pedir</button>
                        </div>
                    </div>
                    <!--Esta es la segunda hamburguesa-->
                <div class="item">
                    <%= image_tag "hamburguesas2.png", class: "img-hamburguesa2" %>
                    <div class= "informacion">
                     <h3>Hamburguesa Tapa Arterias</h3>
                        <ul>
                            <li>Pan</li>
                            <li>Carne</li>
                            <li>Queso</li>
                            <li>Salsas</li>
                            <li>lechuga</li>
                        </ul>
                        <p>Precio:</p>
                        <button>Pedir</button>
                    </div>
                </div>
            </article>
            </section>
                <!--Estas son las pizzas-->
            <section>
                <header class="nombre-pizzas">Pizzas</header>
                <article class = "pizzas">
                        <div class="item">
                            <%= image_tag "pizzas.png", class: "img-pizza" %>
                            <div class="informacion">
                                <h3>Pizza jamón y queso</h3>
                                <ul>
                                    <li>Pan</li>
                                    <li>Carne</li>
                                    <li>Queso</li>
                                    <li>Salsas</li>
                                    <li>lechuga</li>
                                </ul>
                                <p>Precio:</p>
                                <button>Pedir</button>
                            </div>
                        </div>
                <!--Esta es la segunda pizza-->
                    <div class= "item">
                        <%= image_tag "pizzas2.png", class: "img-pizza2" %>
                        <div class="informacion" >
                            <h3>Pizza Peperoni</h3>
                            <ul>
                                <li>Pan</li>
                                <li>Carne</li>
                                <li>Queso</li>
                                <li>Salsas</li>
                                <li>lechuga</li>
                            </ul>
                            <p>Precio:</p>
                            <button>Pedir</button>
                        </div>
                    </div>
            </article>
            </section>
            </section>
        <footer>
            Siguenos en nuestras redes sociales
            <div class="contenido-footer">
                <p style="margin: 0;">© 2025 La Terraza del Pri</p>
                <a href="https://www.tiktok.com/@laterrazadelpri?_t=8iQXZMitniI&_r=1" target="_blank">
                    <%= image_tag "tiktokpng.png", class: "tiktok"%>
                </a>
                <a href="https://www.instagram.com/Laterrazadelpri/" target="_blank">
                    <%= image_tag "instagram.png", class: "instagram"%> 
                </a>
            </div>
        </footer>
    </main>
</html>

    