<header class="header">
    <h1>La Terraza del Pri</h1>
    <%= image_tag "LogoTerrazaDelPri.svg" %>
</header>

<nav class="navbar">

    <div class="buscador">

        <input type="search" name="barra_busquedad">
        <button type="submit">
            <%= image_tag "icons/magnifying-glass-solid.svg" %>
        </button>
    </div>
    <div class="links">
        <%= link_to "Inicio", root_path %>
        <%= link_to "Carrito", carrito_path %>
        <%= link_to "Menu", menu_path %>
    </div>
   
    <div class="user">
        <%= button_to "Cerrar sesión", destroy_user_session_path, method: :delete, form: { "data-turbo-confirm": "¿Estás seguro que quieres cerrar sesión?" } %>
        <%= image_tag "icons/user-solid.svg" %>
    </div>
</nav>

<section class="vistas">

    <%= render partial: @seccion if @seccion.present? %>

</section>

<footer class="footer">
    <div class="social">
    <a href="https://www.instagram.com/laterrazadelpri?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank">
        <%= image_tag "icons/instagram-brands.svg" %>
    </a>
    <a href="https://wa.me/573113678033" target="_blank">
        <%= image_tag "icons/whatsapp-brands.svg" %>
    </a>
    <a href="https://www.tiktok.com/@laterrazadelpri?is_from_webapp=1&sender_device=pc" target="_blank">
        <%= image_tag "icons/tiktok-brands.svg" %>
    </a>
    </div>
    <p>© 2023 La Terraza del Pri. Todos los derechos reservados.</p>
</footer>
