<div class="section-carrito">
    <div class="name-cart">
        <h3>Mi carrito</h3>
    </div>

    <% if @carrito.present? %>
    <table class="cart-items-table">
        <thead>
            <tr>
                <th>Comida</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            <% total = 0%>
            <% @carrito.each do |item| %>
                <% subtotal = item["precio"].to_f * item ["cantidad"].to_i %>
                <% total += subtotal%>
                <tr>
                    <td>
                        <div class="item-details">
                            <%= image_tag "LogoLogoText2.svg", class: "product-thumbnail" %>
                            <span><% item["nombre"]%></span>
                        </div>
                    </td>
                    <td><%= number_to_currency(item["precio"], unit: "", separator: ".", delimiter: ".") %></td>
                    <td><%= item["cantidad"] %></td>


                    <td>
                        <%= form_with url: eliminar_del_carrito_path, method: :post do %>
                            <%= hidden_field_tag :producto_id, item["id"] %>
                            <%= submit_tag "Eliminar", class: "btn-eliminar" %>
                        <% end %>
                    </td>
    
                </tr>
            <% end %>
    </tbody>
    </table>

    <div class="cart-location">
        <label for="ubicacion">Ubicación</label>
        <input type="text" id="ubicacion" value="Calle 30 #76-225">
    </div>

    <div class="cart-total">
        <span>Total a pagar</span>
        <span class="total-amount">
            <%= number_to_currency(total, unit: "", separator: ".", delimiter: ".") %>
        </span>
    </div>
    <button class="order-button">Pagar</button>

    <% else %>
        <p>Tu carrito esta vacio.</p>
    <% end %>
</div>