<section class="edit">
  <div class="session-form">
    <h2>Editar Perfil</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :nombre %>
        <%= f.text_field :nombre %>
      </div>

      <div class="field">
        <%= f.label :apellido %>
        <%= f.text_field :apellido %>
      </div>

      <div class="field">
        <%= f.label :telefono %>
        <%= f.text_field :telefono %>
      </div>

      <div class="field">
        <%= f.label :current_password %> <i>(necesitamos tu contraseña actual para confirmar los cambios)</i>
        <%= f.password_field :current_password, autocomplete: "current-password" %>
      </div>

      <div class="actions">
        <%= f.submit "Actualizar" %>
      </div>
    <% end %>

    <h3>Eliminar mi cuenta</h3>

    <div>¿No estás satisfecho? <%= button_to "Eliminar mi cuenta", registration_path(resource_name), method: :delete, data: { confirm: "¿Estás seguro?" } %></div>

    <%= link_to "Volver", root_path %>
  </div>
</section>