<div class = "section-carrito">
  <h1 class = "detalle-compra">Detalles de la compra</h1>

  <h3 class ="name-cart">Datos del Cliente</h3>
  <ul>
    <li><strong>Nombre:</strong> <%= @usuario.nombre %> <%= @usuario.apellido %></li>
    <li><strong>Teléfono:</strong> <%= @usuario.telefono %></li>
  </ul>

  <h3 class ="name-cart" >Producto a Comprar</h3>
  <ul>
    <li><strong>Producto:</strong> <%= @producto.nombre %></li>
    <li><strong>Precio:</strong> $<%= @producto.precio %></li>
    <li><strong>Cantidad:</strong> 1</li>
    <li class="cart-total" ><strong>Total:</strong> $<%= @producto.precio %></li>
  </ul>

   <button class="order-button">Pagar</button>
  </div>
</div>
