<div class="grupo">
  <h2>Hamburguesas</h2>
  <div class="slider-wrapper">
    <button class="botonL" onclick="moverSlider('slider-hamburguesa', -1)">←</button>
    <div class="slider-container" id="slider-hamburguesa">
      <div class="carta">
        <%= image_tag "Hamburgesas.png" %>
        <h4>Hamburguesa 1</h4>
      </div>
      <div class="carta">
        <%= image_tag "hamburguesas2.png" %>
        <h4>Hamburguesa 2</h4>
      </div>
      <div class="carta">
        <%= image_tag "Hamburgesas.png" %>
        <h4>Hamburguesa 3</h4>
      </div>
    </div>
    <button class="botonR" onclick="moverSlider('slider-hamburguesa', 1)">→</button>
  </div>
</div>

<div class="grupo">
  <h2>Pizza</h2>
  <div class="slider-wrapper">
    <button class="botonL" onclick="moverSlider('slider-pizza', -1)">←</button>
    <div class="slider-container" id="slider-pizza">
        <div class="carta">
            <%= image_tag "pizzas.png" %>
            <h4>Pizza 1</h4>
        </div>
        <div class="carta">
            <%= image_tag "pizzas2.png" %>
            <h4>Pizza 2</h4>
        </div>
        <div class="carta">
            <%= image_tag "pizzas.png" %>
            <h4>Pizza 3</h4>
        </div>
        <div class="carta">
            <%= image_tag "pizzas.png" %>
            <h4>Pizza 3</h4>
        </div>
        <div class="carta">
            <%= image_tag "pizzas.png" %>
            <h4>Pizza 3</h4>
        </div>
        <div class="carta">
            <%= image_tag "pizzas.png" %>
            <h4>Pizza 3</h4>
        </div>
        <div class="carta">
            <%= image_tag "pizzas.png" %>
            <h4>Pizza 3</h4>
        </div>
        <div class="carta">
            <%= image_tag "pizzas.png" %>
            <h4>Pizza 3</h4>
        </div>
        <div class="carta">
            <%= image_tag "pizzas.png" %>
            <h4>Pizza 3</h4>
        </div>
        <div class="carta">
            <%= image_tag "pizzas.png" %>
            <h4>Pizza 3</h4>
        </div>
    </div>
    <button class="botonR" onclick="moverSlider('slider-pizza', 1)">→</button>
  </div>
</div>
