<% if @grupos.present? %>
  <% @grupos.each do |grupo| %>
    <% productos_disponibles = grupo.products.select(&:disponible) %>
    <% if productos_disponibles.any? %>
      <div class="grupo">
        <h2><%= grupo.nombre %></h2>
        
        <div class="slider-wrapper">
          <button class="botonL" onclick="moverSlider('slider-<%= grupo.id %>', -1)">←</button>

          <div class="slider-container" id="slider-<%= grupo.id %>">

            <% productos_disponibles.each do |producto| %>
              <div class="carta">
                <%= image_tag "Hamburgesas.png" %>
                <h4><%= producto.nombre %></h4>
              </div>
            <% end %>

          </div>

          <button class="botonR" onclick="moverSlider('slider-<%= grupo.id %>', 1)">→</button>
        </div>
      </div>
    <% end %>
  <% end %>
<% else %>
  <p>No hay grupos disponibles.</p>
<% end %>
