<% productos_existentes = @grupos.any? { |grupo| grupo.products.select(&:disponible).any? } %>

<% if productos_existentes %>
  <% @grupos.each do |grupo| %>
    <% productos_disponibles = grupo.products.where(disponible: true).order(id: :asc) %>
    <% if productos_disponibles.any? %>
      <div class="grupo">
        <h2><%= grupo.nombre %></h2>

        <div class="slider-wrapper">
          <button class="botonL" onclick="moverSlider('slider-<%= grupo.id %>', -1)">←</button>

          <div class="slider-container" id="slider-<%= grupo.id %>">
            <% productos_disponibles.each do |producto| %>
              <div class="carta">
                <%= image_tag(producto.imagen.attached? ? producto.imagen : "LogoLogoText2.svg") %>
                <h4><%= producto.nombre %></h4> 
                <p><strong><%= number_to_currency(producto.precio, unit: "COP ", separator: ",", delimiter: ".", precision: 0) %> $</strong></p>
                <%= form_with url: agregar_al_carrito_path, method: :post do %>
                  <%= hidden_field_tag :producto_id, producto.id %>
                  <%= submit_tag "Mandar al carrito", class: "boton-mandar-carrito"%>
                <% end %>
                <button class = "boton-pedir-ahora" data-producto-id="<%=producto.id %>">Comprar ahora</button>
              </div>
            <% end %>
          </div>

          <button class="botonR" onclick="moverSlider('slider-<%= grupo.id %>', 1)">→</button>
        </div>
      </div>
    <% end %>
  <% end %>
<% else %>
  <div class="sin-productos">
    <%= image_tag "ProductoNoDisponible.png", alt: "Producto No Disponible" %>
    <h2>No hay productos disponibles por ahora.</h2>
  </div>
<% end %>

<div id="formulario-pedido" style= "display: none;">
  <h3>Datos para la toma de pedido.</h3>
  <form action="/pedidos/crear" method="post">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <input type="hidden" name="producto_id" id="producto_id">

    <label>Nombre:</label>
    <input type= "text" name= "nombre" required><br>

    <label>Apellido:</label>
    <input type= "text" name="apellido" required><br>

    <label>Dirección</label>
    <input type="text" name="direccion" required><br>

    <label>Telefono</label>
    <input type= "text" name="telefono" required><br>

    <button type="submit">Confirmar Pedido</button>
  </form>    
</div>  
