<div class="grupo">
  <h2>Productos de <%= @grupo.nombre %></h2>

  <% if @productos.any? %>
    <div class="cartas">
      <% @productos.each do |producto| %>
        

            <div class="carta">
                <%= image_tag(producto.imagen.attached? ? producto.imagen : "LogoLogoText2.svg") %>
                <h4><%= producto.nombre %></h4>
                <p><%= producto.descripcion %></p>
                <p><strong><%= number_to_currency(producto.precio, unit: "COP ", separator: ",", delimiter: ".", precision: 0) %> $</strong></p>
            </div>

        <% end %>
    </div>
  <% else %>
    <div class="sin-productos">
      <%= image_tag "ProductoNoDisponible.png", alt: "Producto No Disponible" %>
      <h2>No hay productos disponibles por ahora.</h2>
    </div>
  <% end %>
</div>
