<h2 class ="titulo-confirmacion-compra">Confirmación de la compra.</h2> 
    <!-- Datos de la persona -->

<div class ="informacion-compra" > 
  <label>Nombre:</label>
  <input type= "text" name= "nombre" required><br>

  <label>Apellido:</label>
  <input type= "text" name="apellido" required><br>

  <label>Dirección:</label>
  <input type="text" name="direccion" required><br>

  <label>Telefono:</label>
  <input type= "text" name="telefono" required><br>

  <p>Producto: <%= @producto.nombre %></p>
  <%= image_tag "LogoLogoText2.svg", class: "product-thumbnail" %>
  <p>Precio: <%= number_to_currency(@producto.precio) %></p>

  <%= form_with url: formulario_path, method: :post do %>
    <%= hidden_field_tag :producto_id, @producto.id %>
    <%= submit_tag "Confirmar compra", class: "btn btn-primary" %>
  <% end %>

</div>

    
