<header class="header">
    <div class="logo">
        <%= image_tag "LogoLogo.svg" %>
        <h1>Bitevia Software</h1>
    </div>
    <div class="buscador">
        <input type="search" name="barra_busquedad">
        <button type="submit">
            <%= image_tag "icons/magnifying-glass-solid.svg" %>
        </button>
    </div>
</header>

<nav class="navbar">

    <div class="links">

        <%= link_to "Inicio", root_path %>
        <%= link_to "Menú", menu_path %>
        
        <% if current_user %>
            <% if current_user.admin? %>
                <%= link_to 'Panel de administración', dashboard_root_path %></li>
            <% end %>
        <% end %>
    </div>
   
    <% if current_user %>
        <div class="user">
            <%= link_to image_tag("icons/user-solid.svg", alt: "Perfil"), edit_path%>
            <%= link_to image_tag("icons/cart-shopping-solid.svg", alt: "Carrito"), carrito_path %>
            <div class="btn-user">
                <%= button_to "Cerrar sesión", destroy_user_session_path, method: :delete, form: { "data-turbo-confirm": "¿Estás seguro que quieres cerrar sesión?" } %>
            </div>
        </div>
    <% else %>
        <div class="user">
            <%= link_to image_tag("icons/cart-shopping-solid.svg", alt: "Carrito", class: "carro"), carrito_path %>
            <div class="btn-user">

            <%= button_to "Iniciar Sesión", new_user_session_path %>
            </div>
        </div>
    <% end %>
</nav>

<main class="vistas">

    <%= render partial: @seccion, locals: { resource: @resource, resource_name: @resource_name, devise_mapping: Devise.mappings[:user] } if @seccion.present? %>


</main>

<footer class="footer">

    <div class="social">
      <a href="#">
        <%= image_tag "icons/instagram-brands.svg" %>
      </a>
      <a href="#">
        <%= image_tag "icons/whatsapp-brands.svg" %>
      </a>
      <a href="#">
        <%= image_tag "icons/tiktok-brands.svg" %>
      </a>
    </div>
    <p>© 2025 Bitevia Software. Todos los derechos reservados.</p>

</footer>
