<main class="main-content">
<h1>Panel de administración</h1>

<div class="card-grid">
    <div class="card">
    <h3>Total productos</h3>
    <p><%= Product.count %></p>
    </div>

    <div class="card">
    <h3>Total grupos</h3>
    <p><%= Grupo.count %></p>
    </div>

    <div class="card">
    <h3>Último producto</h3>
    <p><%= Product.last&.nombre || "Ninguno aún" %></p>
    </div>

    <div class="card">
    <h3>Último grupo</h3>
    <p><%= Grupo.last&.nombre || "Ninguno aún" %></p>
    </div>
    
    <div class="card">
    <h3>Grupos</h3>
    <ul>
        <% Grupo.all.each do |grupo| %>
        <li><%= grupo.nombre %></li>
        <% end %>
    </ul>
    </div>

    <div class="card">
    <h3>Productos</h3>
    <ul>
        <% Product.all.each do |product| %>
        <li><%= product.nombre %></li>
        <% end %>
    </ul>
    </div>

</div>
</main>
